body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size:1900px;
    position:fixed;
    height:10%;
    max-width: 1900px; important;
    background-image: url('umjunsick.jpg');
    background-attachment: fixed;
}
#header{
    height:300px;
    max-width:1900px; 
}
p.ping{
    float: right;
    position: relative;
    left: 500px;
    font-family: Dancing Script;
    font-size: 30px;
}